img{
  width: 300px;
}

div{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  border: 2px solid red;
}

