img{
  width: 300px;
}

div{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

header {
  background: linear-gradient(#4065b1, #4065b1);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
}



