.home-container header{
  display: flex;
  background: linear-gradient(#4065b1, #9aa2b2);
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.home-container footer{
  height: 40px;
  margin: 20px;
}

.sites-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
}

.sites-container body {
  background: rgb(235, 227, 217);
  margin: 0px 0px 0px 0px;
}

.sites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex: 1 1 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.sites-container div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 570px;
  height: 400px;
  background: linear-gradient(rgb(99, 165, 186), rgb(219, 219, 181));
  border-radius: 40px;
  box-shadow: 0 0 0 2px rgba(28, 65, 145, 0.795);
}

.sites-container div:hover {
  transform: scale(1.02);
  font-weight: 500;
}
.sites-container div:hover img{
  transform: scale(1.14);
}

.sites-container a {
  padding-top: 20px;
  text-decoration: none;
  color: white
}

.home-container .searchBar{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}

.home-container input{
  border-radius:10px;
  width: 350px;
  height: 30px;
  border-width: 3px;
}

.home-container input:hover {
  transform: scale(1.05);

}