img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
}

body{
    background: rgb(235, 227, 217);
    margin: 0px 0px 0px 0px;
}

.sites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex: 1 1 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
  text-align: center;
}


.sites-container div{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 40%;
  height: 400px;
  background: linear-gradient(yellow, rgb(219, 219, 181));
  border-radius: 40px;
}

.sites-container header {
  background: linear-gradient(#4065b1, #4065b1);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.sites-container a{
    padding-top: 20px;

}

