.site-level-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-content: center;
}

.site-level-container img {
  width: 700px;
  max-height: 600px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
}

.site-level-container .buttons{
  display: flex;
  justify-content:  space-between;
  margin: 10px;
}

.site-level-container h2 {
  display: flex;
  background: linear-gradient(rgb(110, 217, 250), rgb(25, 153, 232));
  width: 100%;
  height: 50px;
  margin-top: 0%;
  justify-content: center;
  align-items: center;
}

.site-level-container img {
  display: flex;
  box-shadow: 0 0 0 2px rgba(28, 65, 145, 0.795);
  align-self: center;
}

.site-level-container a {
  border: 2px solid red;
}

.site-level-container p {
  margin: 20px 20% 0px 20%;
  background: linear-gradient(rgb(5, 169, 219), rgb(4, 69, 109));
  padding: 20px;
  border-radius: 20px;
  color: white;
}
